c2cciutils[publish]==1.7.3
poetry-dynamic-versioning[plugin]==1.8.2
pre-commit==4.2.0
pytest==8.4.1
poetry-plugin-tweak-dependencies-version==1.5.2
poetry-dynamic-versioning==1.8.2
poetry-plugin-drop-python-upper-constraint==1.0.0
