c2cciutils[publish]==1.7.5
poetry-dynamic-versioning[plugin]==1.10.0
pre-commit==4.6.0
pytest==9.0.3
poetry-plugin-tweak-dependencies-version==1.5.6
poetry-dynamic-versioning==1.10.0
poetry-plugin-drop-python-upper-constraint==1.0.1
